// Specific CSS for your home-page

$blue: #2D9CDB; // for buttons
$grey: #F2F2F2; // for user-input
$neon-blue: #24D0E3;
$purple: #9F67D1;
$cream: #FDE5D5;
$dark-blue: #38598b;


.banner {
  background-size: cover;
  background-position: center;
 height: 100vh;
  background-image: asset-url("Landing.jpeg");
}
.block {
  display: block;
  width: 50%;
  border: none;
  background-color:#2D9CDB;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
    border-radius: 25px;
  }

.link-darken {
  text-decordation: none;
  color: black;
}

.homecontainer {
  display: flex;
justify-content: center;
padding-top:15px;}

.search-tab {
  margin:0 auto;
  position: relative;
    display: inline-block;
  width:200px;

}
.some {
    font-size: 20pt;
    font-weight: bolder;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 7pt;
    b {
      font-size: 10pt;
    }
}
.search-field{
  margin-bottom:5px;
  border-radius: 50px;
  opacity: 0.8;
}
h3 {

  color: #F2F2F2;
  font-weight: 800px;

}

.rotate {
  transform: scale(-1, 1);
  transform: scale(1, -1);
  color: #ebecf1;
  opacity: 0.5;
  margin-top: 0;
}

.locate-button {
  margin-block-start: 0em;
  margin-block-end: 0em;
  p {
    margin-bottom: 0;
  }
}
