// Specific CSS for your home-page

$blue: #2D9CDB; // for buttons
$grey: #F2F2F2; // for user-input
$neon-blue: #24D0E3;
$purple: #9F67D1;
$cream: #FDE5D5;
$dark-blue: #32426F;

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.banner {
  background-size: cover;
  background-position: center;
 height: 100vh;
  background-image: asset-url("Landing.jpeg");
}
.block {
  display: block;
  width: 50%;
  border: none;
  background-color:#2D9CDB;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
    border-radius: 25px;
  }



.homecontainer {
  display: flex;
justify-content: center;
padding-top:15px;}

.search-tab {
  margin:0 auto;
  position: relative;
    display: inline-block;
  width:200px;

}
.some {


    font-size: 20pt;
    font-family: Arial, sans-serif;
}
.search-field{
  margin-bottom:20px;
}


