.search-field {
  margin: 20px;
}
/* Navbar links */
.nav-link {
  float: left;
  display: block;
color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.song-card-play {
  margin: 4px;
  background: white;
  box-shadow: 0px 0px 4px 2px $blue;
  align-items: center;
  overflow: hidden;
  position: relative;
  h4 {
      font-size: smaller;
    }
  a {
    color: white;
  }
  .card-counter {
  position: absolute;
  top: 2vh;
  right: 9vw;
  }
   .card-request {
  position: absolute;
  top: 0px;
  right: 8px;
  }
   .card-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  }
}

.back-button {
  background-color: $grey;
  padding: 4px 8px;
  border-radius: 4px;
  color: black;
  border: none;
  &:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
}

.request-button-black {
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  border: none;
  font-size: 24px;
  }

.make-purple {
  background: rgba(159, 103, 209, 0.7);
  color: white;
}


.request-button-confirm {
  background-color: $purple;
  padding: 4px 8px 4px 8px;

  border-radius: 4px;
  color: white;
  border: none;
  &:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

}

.mystyle {

  background-color: $grey;
}

.search-field-tracks {
    margin: 20px 0;
    border-radius: 8px;
}



.event-nav {
  display: grid;
  grid-template-columns: 40px auto 40px;
  padding: 12px;
  font-size: 12px;
}

.event-nav-item {

}
