
.song-card {
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    align-items: center;
    overflow: hidden;
    position: relative;
    h4 {
        font-size: smaller;
    }
}

.make-grey {
  background: gray;
  color: white;
}
