

<div class="banner" style="background-image:("asset-url(landing");>

<div class="container justify-content-center mt-3 ">
  <h1>BeTheDj</h1>


<%= form_tag venues_path, class: "search-tab", method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    id: "venue_location",
    class: "search-field justify-content-center",
    placeholder: "Search by location"
  %>
  <button type="button" class="block">Login</button>
  <%= button_tag :submit, class: "create-button p-1" do %>
    <i class="fas fa-search"></i>
  <% end %>
<% end %>


</div>



  </div>

