<h1>BeTheDj</h1>
<br>

<div class="container justify-content-center mt-3">
<%= form_tag venues_path, class: "search-tab",  method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search-field justify-content-center",
    placeholder: "Search by location or event"
  %>
  <%= button_tag :submit, class: "create-button p-1" do %>
    <i class="fas fa-search"></i>
  <% end %>
<% end %>
</div>
