

<div class="banner"style="background-image:("asset-url(landing");>

<div class="d-flex flex-column justify-content-around h-100">


<div>

  <h1 class="some"><span>BE<b>the</b>DJ</span></h1>
  <h1 class="some rotate"><span>BE<b>the</b>DJ</span></h1>
</div>
  <div class="container justify-content-center mt-3">

<%= form_tag venues_path, class: "search-tab", method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    id: "venue_location",
    class: "search-field justify-content-center",
    placeholder: "Search your area"

  %>
  <%= button_tag :submit, class: "create-button locate-button" do %>
    <p>Locate</p>
  <% end %>

<% end %>
</div>
 <div class="d-flex flex-column justify-content-center">
  <h3> You Request </h3>
  <h3> We Play </h3>
  </div>
</div>

</div>


