

<div class="banner"style="background-image:("asset-url(landing");>

<div class="d-flex flex-column justify-content-around h-100">




  <h1 class="some">BEtheDJ</h1>

  <div class="container justify-content-center mt-3">

<%= form_tag venues_path, class: "search-tab", method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    id: "venue_location",
    class: "search-field justify-content-center",
    placeholder: "Search by location"

  %>
  <%= button_tag :submit, class: "create-button p-1" do %>
    <i class="fas fa-search"></i>
  <% end %>

<% end %>
</div>
 <div class="d-flex flex-column justify-content-center">
  <h3> You Request </h3>
  <h3> We Play </h3>
  </div>
</div>

</div>


