<div class="container">

  <div class="img-backgroung">
    <%= image_tag venue.photo %>
  </div>

  <%= link_to venue_path(venue) do %>
    <h5><i class="fas fa-cocktail"></i> <%= venue.name %></h5>
    <% end %>
    <p><i class="fas fa-map-marker-alt"></i> <%= venue.location %></p>
</div>
