<div class="container rounded">
  <%= link_to venue_path(venue) do %>
    <div class="img-background rounded">
      <%=cl_image_tag venue.photo.key %>
    </div>
    <div class="link-darken">
      <h6 class="pt-2"></i> <%= venue.name.upcase %></h6>
      <p><i class="fas fa-map-marker-alt"></i> <%= venue.location %></p>
    </div>
    <% end %>
</div>



