<div class="container">
<%= link_to venue_path(venue) do %>

<p><i class="fas fa-cocktail"></i> <%= venue.name %></p>
<p><i class="fas fa-map-marker-alt"></i> <%= venue.location %></p>
<% end %>

</div>
