<h1><%= @venue.name %></h1>
<ul>
<% @events.each do |event| %>
  <li><%= link_to event.name, event_path(event)%></li>
<% end %>
<ul>

<button>
  <%= link_to "Add a new event for #{@venue.name}", new_venue_event_path(@venue) %>
</button>
