.flex-container .card-date{
  background-color:  #F4F4F4;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  font-size: 30px;
  border-radius: 4px;
    p {
    font-size: 15px;
    opacity: 0.5;
    color: black;
  }
}
